.container_insta {
  display: flex;
  width: 1120px;
  height: 413px;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
}

.left_tb {
  width: 380px;
  height: 402px;
  padding-left: 370px;
  padding-top: 71px;
  background-color: rgb(222, 238, 227);
}

.insta_inp {
  width: 340px;
  height: 59.62px;
  border-radius: 4px;
}
